#tasks {
  margin: 50px;
  padding-left: 25px;
}

#tasks div {
  width: 450px;
  padding: 15px;
  margin: 15px;
  border: solid 1px #333;
  border-radius: 5px;
}

#tasks div > div {
  width: 400px;
}
